body {
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

#lion {
    height: 50px;
    padding-left: 24px;
    padding-top: 20;
    float: left;
}

#colmar {
    height: 32px;
    opacity: 1;
    font-weight: bold;
}

#academy {
    height: 32px;
    opacity: 0.8;
    font-weight: 1;
}

#logotext  {
    float: left;
}

#nav {
    float: right;
    margin: 16px;
    padding: 16px;
}

h1 {
    display: block;
}

.menu {
    height: 64px;
}

#nav span {
    margin: 16px;
} 

.sign {
    padding-right: 24px;
} 

.banner {
    background-color: rgb(211, 202, 202);
}

.banner h1 {
    color: rgb(83, 81, 81);
}

.banner img {
    width: 60%;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 24px;
    margin-left: 24px;
    display: inline-block;
    float: left;
    background-color: grey;

.banner .bannertext {
    display: inline;
    float: :right;
}