body {
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

#lion {
    height: 50px;
    padding-left: 24px;
    padding-top: 20;
    float: left;
}

#colmar {
    height: 32px;
    opacity: 1;
    font-weight: bold;
}

#academy {
    height: 32px;
    opacity: 0.8;
    font-weight: 1;
}

#logotext  {
    float: left;
}

#nav {
    float: right;
    margin: 16px;
    padding: 16px;
    height: 64px;
}

h1 {
    display: block;
}

.menu {
    height: 64px;
}

#nav span {
    margin: 16px;
} 

.sign {
    padding-right: 24px;
} 

.banner {
    background-color: rgb(211, 202, 202);
    color: grey;
}

.banner h1 {
    color: rgb(68, 67, 67);
    font-size: 50px;
}

.banner img {
    width: 60%;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 24px;
    margin-left: 24px;
}

.banner-text {
    display: inline;
    float: right;
    padding-bottom: 100px;
}

button {
    height: 50px;
    width: 300px;
    border-style: groove;
    margin-bottom: 50px;
}

.main {
    background-color:white;
    display: inline-flex;
    width: 100%;
}

#main-part1 {
    margin-top: 32px;
    background-color: white;
    margin-right: 24px;
}

#main-part1 h2 {
    margin-top: 32px;
    margin-bottom: 24px;
}

#quote {
    margin-bottom: 32px;
}

.main-col {
    width: 40%; 
}

.box {
    display: inline-flex;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.box img {
    padding: 16px;
    width: 35%;
}

.readmore {
    color: blue;
    padding-top: 8px;
}

.gray {
    color: rgb(68, 67, 67);
    font-size: 35px;
}


.start h1 {
    text-align: center;
    padding: 32px;
    padding-bottom: 0;
}

.start{
    background-color: rgb(236, 236, 236);
}

.start p {
    opacity: 0.8;
}

.topics {
    margin: 72px;
    margin-top: 32px;
}

.topic {
    margin: 32px;
    background-color: white;
    width: 300px;
}

.topic h3, p {
    margin: 16px;
}

.courses{
    margin-top: 8px;
    margin-bottom: 8px;
}

.descript {
    padding-bottom: 24px;
}

.topic img {
    width: 100%;
}

.topics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    margin-bottom: 32px;
}